.shortLink {
  min-width: 3rem;
  padding: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1rem 0.5rem rgba(33, 33, 33, 0.3);
}

.shortLink__heading {
  margin-bottom: 2rem;
  color: #212121;
}

.shortLink__link {
  color: #673AB7;
  font-size: 2rem;
  text-decoration: none;
}
